@{
    ViewBag.Title = "O-I Peldar";
}

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card espacioizcard">
                <div class="card-body">
                    <img class="mx-auto d-block" src="~/Content/Images/System/whitelogo.png" alt="O-I Peldar" width="380" height="300">
                    <br />
                    <p class="h6 font-weight-bolder text-white">O-I es la primera compañía de envases de alimentos y bebidas en obtener una calificación ORO en la categoría SALUD MATERIAL en las tarjetas de puntuación Cradle to Cradle, una certificación de sostenibilidad de primer nivel para productos alrededor del mundo y en todas las industrias.</p>
                    <p class="text-yellow"><a class="text-yellow" href="http://www.o-i.com/">http://www.o-i.com/</a></p>
                </div>
                <div class="card-footer border-0">
                    <a href="http://www.o-i.com/ " target="_blank"><img style="width:100%; height:auto;" class="mx-auto d-block img-fluid" src="~/Content/Images/System/FraseLogoLines.png" alt="Gestión de Clientes" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>